<div class="view view-home">

    <div id="content">

        <section>

            <h1>Live blog</h1>

            <div class="posts" ng-controller="listPostsController as list">

                <div class="post" ng-repeat="post in list.posts | orderBy: '-timestamp'">
                    <h2><a href="#/post/{{post.$id}}">{{post.title}}</a></h2>
                </div>

            </div>

        </section>

    </div>

    <div class="navigation">
        <a href="#/add-post" class="primary" ng-show="$root.user">Add post</a>
        <a href="#/login" class="secondary" ng-show="!$root.user">Login</a>
        <a href="" class="secondary" ng-show="$root.user" ng-controller="logoutController as logout" ng-click="logout.logout()">Logout</a>
    </div>

</div>
